.com-contact-category__items {
  .card {
    border-radius: 0;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: translateY(-5px);
    }
  }
  .contact-thumbnail {
    border-radius: 0;
  }
}
.category-desc {
  border-bottom: 1px solid $primary;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}