a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.7rem;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 1.5rem;
}

.btn-lg, .btn-group-lg > .btn {
  --bs-btn-padding-x: 1.7rem;
}

.module-title {
  margin-bottom: 20px;
}

.sidebar-right {
  border-top: 1px solid $primary;
  padding-top: 50px;
  margin-top: 50px;
  @media (min-width: 1200px) {
    border-left: 1px solid $primary;
    border-top: none;
    padding-left: 40px;
    padding-top: 0;
    margin-top: 0;
  }
  .moduletable + .moduletable {
    margin-top: 40px;
  }
}

.sidebar-left {
  border-top: 1px solid $primary;
  padding-top: 50px;
  margin-top: 50px;
  @media (min-width: 1200px) {
    border-left: 1px solid $primary;
    border-top: none;
    padding-right: 40px;
    padding-top: 0;
    margin-top: 0;
  }
  .moduletable + .moduletable {
    margin-top: 40px;
  }
}